/* .Main{
  border: 1px solid rgb(16, 16, 16);
  padding: 10px;
  margin: 5px;  
}
.Main{
    grid-area: m;
}
section{
    padding: 10px;
    margin: 5px;
}
h2{
    color:  rgb(114, 85, 46);
}
section{
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    
}
h1{
    text-align: center;
    
}
h2{
    color:  brown;
} */
